{% if ( service_env + '-' + service ) in docker_services.stdout %}
{% set service_exists = true %}
{% else %}
{% set service_exists = false %}
{% endif %}
{% if service_exists == true %}
{% set command = 'docker service update --update-delay 10s --update-failure-action pause --restart-max-attempts 1 --restart-delay 10s --with-registry-auth --log-driver fluentd --log-opt tag=' + service_env + '-' + service %}
{% else %}
{% set command = 'docker service create --update-delay 10s --update-failure-action pause --restart-max-attempts 1 --restart-delay 10s --with-registry-auth --log-driver fluentd --log-opt tag=' + service_env + '-' + service %}
{% endif %}
{% if replication_mode == 'replicated' %}
{% if service_exists == true %}
{% set command = command + ' --replicas ' + replicas %}
{% else %}
{% set command = command + ' --mode replicated --replicas ' + replicas %}
{% endif %}
{% elif replication_mode == 'global' %}
{% if service_exists != true %}
{% set command = command + ' --mode global' %}
{% endif %}
{% endif %}
{% if service_exists != true %}
{% set command = command + ' --network ' + network %}
{% set command = command + ' --name ' + service_env + '-' + service %}
{% set env = [] %}
{% for key, value in container_env.iteritems() %}
{% set _ = env.append( ' --env ' + key + '=' + value ) %}
{% endfor %}
{% set command = command + env|join(" ") %}
{% if constraint != '0' %}
{% set command = command + ' --constraint ' + constraint %}
{% endif %}
{% if port != '0' %}
{% if publish_port == '1' %}
{% set command = command + ' --publish ' + port + ':' + port %}
{% else %}
{% set command = command + ' --publish ' + port %}
{% endif %}
{% endif %}
{% if volume != '0' %}
{% set command = command + ' --mount type=bind,source=' + volume + ',target=' + volume %}
{% endif %}
{% endif %}
{% if service_exists == true %}
{% set command = command + ' --image ' + image + ':' + git_commit + ' ' + service_env + '-' + service %}
{% else %}
{% set command = command + ' ' + image + ':' + git_commit %}
{% endif %}
{{ command }}
