curl --request PATCH --header "Content-Type: application/json" --header "Authorization: sso-key {{ godaddy['sso-key'] }}" --data '[{ "type": "A", "name": "'"{{ service }}.{{ service_env }}"'", "data": "'"10.0.2.5"'", "ttl": 600 }]' https://api.godaddy.com/v1/domains/aptitudelabs.com/records
